<div class="container">
  <h1>Status Window</h1>
  <br/> 
  <ul>
    <li *ngFor="let msg of messages">{{msg}}</li>
  </ul> 
    <div class="form-group">
      <textarea class="status-window" [(ngModel)]="message">
        User:xxx Action:xxx Time 19:21
      </textarea>
    </div> 
    <h1>User input</h1>
    <br/> 
    <div class="form-group">
      <input  class="form-control" type="text" [(ngModel)]="inputInstruction"   />
      <button class="btn btn-primary" (click)="send()">Send</button> 
    </div>
    
    <!--<button class="btn btn-secondary">Retrieve Message</button>--> 

</div>
